@model Proveedor

<br />
<h2 class="text-info">@(Model.Id != 0 ? "Editar" : "Crear") Proveedor</h2>
<br />

<div class="border container" style="padding:30px;">
    @if (Model.Id != 0)
    {
        <input type="hidden" asp-for="Id" />

    }
    <div class="form-horizontal">
        <hr />
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <h4>Empresa</h4>
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.NombreEmpresa, new { @class = "form-control", placeholder = "NombreEmpresa", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.NombreEmpresa, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NombreContacto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.NombreContacto, new { @class = "form-control", placeholder = "NombreContacto", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.NombreContacto, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TituloContacto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.TituloContacto, new { @class = "form-control", placeholder = "TituloContacto", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.TituloContacto, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Ciudad, new { @class = "form-control", placeholder = "Ciudad", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Ciudad, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Pais, new { @class = "form-control", placeholder = "Pais", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Pais, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", placeholder = "Telefono", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Telefono, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Fax, new { @class = "form-control", placeholder = "Fax", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Fax, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 offset-3">
                    <button type="submit" class="btn btn-primary form-control">
                        @(Model.Id != 0 ? "Actualizar" : "Crear")
                    </button>
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-success form-control">Regresar a la lista</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
